[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-redis = "*"
celery = "*"
django-rest-framework = "*"
django-filter = "*"
pandas = "*"
django-cors-headers = "*"
psycopg2 = "*"
gunicorn="*"
[dev-packages]

[requires]
python_version = "3.6"
